body {
  margin: 0;
  padding: 0;
}
.conatiner {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - 100px);
  
}
.user-msg {
  align-self: flex-end;
  padding-left: 15px;
  padding-right: 15px;
  background: #296;
  color: #fff;
  min-height: 40px;
  border-radius: 15px;
}
.friend-msg {
  align-self: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  background: #e68b8e;
  color: rgb(29, 27, 27);
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  
}
textarea{
    width: 90%;
}
.send-text{
    
}
