.signup-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  min-height: 35px;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
}
button {
  min-height: 35px;
  min-width: 150px;
  background: none;
  outline: none;
  border: 1px solid #296;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  color: #296;
}

button:hover{
    transform: translateY(-3px);
    background: #296;
    transition: all 0.3s;
    color: #fff;
}
button:active{
    transform: translateY(0);
}
#signup_error{
    color: red;
    margin-bottom: 10px;
}
